*{
    margin: 0px; 
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

#body_control #option_control {
    width: 200px;
    height: 100%;
    background-color: rgb(214, 214, 214);
    position: absolute;
    display: inline-block;
    border-right: 1px solid rgb(187, 187, 187);
}
#body_control #option_control ul li:first-child {
    height: 100px;
    background-color: #4876d3;
}
#body_control #option_control ul li:first-child img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
#body_control #option_control ul li:first-child p {
    display: inline;
    color: white
}
#body_control #option_control ul li:first-child input {
    display: block;
    margin-top: 10px;
    width: 50%;
    height: 30%;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 66, 66);
    color: white;
}
#body_control #option_control ul li:first-child input:hover {
    background-color: silver;
    transition: 0.5s;
}
#body_control #option_control ul li {
    height: 50px;
    padding-left: 10px;
    border-bottom: 1px rgb(255, 255, 255) solid;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
}
#body_control #option_control ul li:hover:not(.admin){
    background-color: rgb(255, 66, 66);
    transition: 0.5s;
}
#body_control #option_control ul li img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
#body_control #option_control ul li a {
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: inline-block;
    width: 82%;
    height: 100%;
    padding-top: 13px;
    padding-left: 10px;
}

#view_control {
    display: inline-block;
    position: absolute;
    width: 87%;
    height: 100%;
    margin-left: 200px;
    background: rgb(255, 255, 255);
}
#view_control #manage_posts {
    width: 100%;
    height: 100%;
    
}
#view_control #manage_posts #option {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid silver;
    padding-top: 15px;
    box-shadow: 7px 0px 15px silver;
}
#view_control #manage_posts #option input,p,select {
    display: inline-block;
    margin-left: 10px;
}
#view_control #manage_posts #option input {
    width: 20%;
    height: 60%;
    padding-left: 5px;
    border-radius: 2px;
    border: 1px solid black;
}
#view_control #manage_posts #option select {
    width: 8%;
    height: 60%;
    border-radius: 2px;
    border: 1px solid black;
}
#table_posts {
    width: 100%;
    border-collapse: collapse;
    margin-top: 32px;
    box-shadow: 15px 10px 20px rgb(161, 161, 161);
}
#table_posts tr:nth-child(odd):not(.tr_1) {
    background-color: #7edf8e;
}
#table_posts tr:hover:not(.tr_1) {
    background-color: rgb(255, 253, 142);
    transition: 0.5s;
}
#table_posts th {
    background-color: rgb(255, 78, 78);
    height: 50px;
    color: rgb(255, 255, 255);
}
#table_posts th,td {
    text-align: left;
    border:1px solid rgb(0, 0, 0);
    max-width: 450px;
    text-align: center;
}
#table_posts tbody tr td:nth-child(2) {
    text-align: left;
    padding-left: 10px;
}
#table_posts tbody tr td input {
    width: 60px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
    border-radius: 3px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #6297ff;
    color: white;
}
#table_posts tbody tr td input:first-child ~ input {
    margin-bottom: 10px;
    background-color: #ff5555;
}
#table_posts tbody tr td input:first-child ~ input:hover {
    background-color: silver;
    transition: 0.3s;
}
#table_posts tbody tr td input:hover {
    background-color: silver;
    transition: 0.5s;
}