* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}
#body_control #option_control {
    width: 13%;
    background-color: rgb(230, 230, 230);
    display: inline-block;
    border-right: 1px solid rgb(199, 199, 199);
    border-bottom: 1px solid rgb(199, 199, 199);
    box-shadow: 5px 5px 10px silver;
    border-radius: 3px;
}
#body_control #option_control ul li:first-child {
    height: 130px;
    background-color: #4876d3;
}
#body_control #option_control ul li:first-child img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
#body_control #option_control ul li:first-child p {
    display: inline;
    color: white
}
#body_control #option_control ul li:first-child a {
    display: block;
    margin-top: 30px;
    width: 50%;
    height: 20%;
    padding-top: 5px;
    padding-left: 0px;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 66, 66);
    color: white;
    text-align: center;
}
#body_control #option_control ul li:first-child a:hover {
    background-color: silver;
    transition: 0.5s;
}
#body_control #option_control ul li {
    height: 50px;
    padding-left: 10px;
    border-bottom: 1px rgb(255, 255, 255) solid;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
}
#body_control #option_control ul li:hover:not(.admin){
    background-color: rgb(255, 66, 66);
    transition: 0.5s;
}
#body_control #option_control ul li img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
#body_control #option_control ul li a {
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: inline-block;
    width: 82%;
    height: 100%;
    padding-top: 17px;
    padding-left: 10px;
}
#view_control {
    display: inline-block;
    position: absolute;
    width: 85%;
    min-height: 100%;
    margin-left: 20px;
    background: rgb(230, 230, 230);
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgb(175, 175, 175);
}

/*Quản lý bài viết*/

/*Tạo bài viết mới*/

/*Tạo mới admin */

/*Thay đổi mật khẩu*/

