#content {
    width: 50%;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}
#content .list_posts {
    margin-bottom: 50px;
    border-bottom: 1.5px solid silver;
}
#content .list_posts h2 {
    max-height: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
#content .list_posts h2 a {
    font-size: 35px;
    font-weight: normal; /*Hiển thị chữ in thường*/
    text-decoration: none;
    color: black;
    text-align: justify;
}
#content .list_posts > p {
    margin-top: 20px;
    font-size: 17px;
    line-height: 180%;
    max-height: 160px;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}
#content .list_posts input {
    display: block;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #4876d3;
    font-size: 18px;
    color: white;
}
#content .list_posts input:hover {
    background-color: silver;
    transition: 0.5s;
}
#content .list_posts > div {
    margin-top: 50px;
    margin-bottom: 50px;
}
#content .list_posts > div img {
    width: 3%;
    height: 3%;
    display: inline-block;
}
#content .list_posts > div img:first-child ~ img {
    margin-left: 20px;
}
#content .list_posts > div p {
    display: inline;
    padding-left: 5px;
}
