#content_posts {
    border-bottom: 1px solid black;
    width: 60%;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
    border-bottom: 1.5px solid silver;
}
#content_posts>h2 {
    font-size: 40px;
    font-weight: normal;
    width: 100%;
    text-align: left;
    background-color: rgb(255, 255, 255);
    font-family: 'Cabin', sans-serif;
    color: rgb(56, 56, 56);
    
}
#content_posts div:nth-child(2) {
    margin-top: 50px;
    font-family: 'Varela Round', sans-serif;
}
#content_posts div:nth-child(2) > div{
    display: none;
}
#content_posts div:nth-child(2) img {
    width: 2%;
    height: 2%;
}
#content_posts div:nth-child(2) img:first-child ~ img {
    margin-left: 20px;
}
#content_posts div:nth-child(2) p {
    display: inline;
    padding-left: 5px;
}
#content_posts div:nth-child(3) {
    margin-top: 50px;
    font-size: 17px;
    line-height: 180%;
    text-align: left;
    font-family: 'Varela Round', sans-serif;
    color: rgb(0, 0, 0);
} 
#content_posts iframe {
    margin-top: 30px;
}

/*----------------CSS cho thiết bị di động--------------------------*/
@media only screen and (max-width: 414px ){
    #content_posts {
        display: block;
        margin: 30px auto;
        width: 95%;
    }
    #content_posts>h2 {
        text-align: justify;
        font-size: 25px;
    }
    #content_posts div:nth-child(2) {
        margin-top: 15px;
    }
    #content_posts div:nth-child(2) img {
        width: 5%;
        height: 5%;
    }
    #content_posts div:nth-child(2) > p {
        font-size: 15px;
    }
    #content_posts div:nth-child(3) {
        margin-top: 20px;
        text-align: justify;
        font-size: 14px;
        line-height: 21px;
    }
    #content_posts div:nth-child(2) > div{
        display: block;
    }
    #content_posts div:nth-child(2) > img:nth-child(4){
        margin-left: 0px !important;
    }
}
