* {
    margin: 0px;
    padding: 0px;
}
#header {
    position: relative;
}
#header a {
    text-decoration: none;
    color: black;
}
#header #logo{
    text-align: center;
    font-family: 'Roboto Slab', serif;
}
#header #logo a h1 {
    color: rgb(56, 56, 56);
    display: inline;;
}
#header #logo a img {
    width: 13%;
    height: 13%;
}
#header #slogan {
    text-align: center;
    margin-top: 10px;
}
#header #slogan p{
    width: 25%;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    color: rgb(56, 56, 56);
}
#header #info {
    text-align: center;
    margin-top: 15px;
}
#header #info > ul li {
    display: inline;
}
#header #info > ul li a {
    margin-left: 20px;
}
#header #info > ul li a img {
    width: 2.5%;
    height: 2.5%;
}
#header #info > ul li a img:hover {
    box-shadow: 0px 0px 10px rgb(179, 179, 179);
    border-radius: 50%;
    transition: 0.5s;
    
}
#header #info #gmail_header {
    position: absolute;
    display: inline-block;
    width: 0%;
    margin-left: 1px;
    margin-top: -9px;
    background-color: #4876d3;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    color: white;
    box-shadow: 10px 10px 10px silver;
    font-family: 'Roboto Slab', serif;
    overflow: hidden;
}
#header #info > ul li:hover #gmail_header {
    width: 20%;
    transition: 1s;
}